@media (min-width: 320px) and (max-width: 576px){
    .navbar-toggler {
        color: red;
    }   
     .navbar-nav {
        margin-left: -30px;
    }

    nav .nav-link {
        font-size: 14px;
        line-height: 10px;
    }

    .navbar_main .one {
        font-size: 15px;
    }

    .navbar_main .one {
        font-size: 15px;
    }
    .navbar_right h4 {
        font-size: 15px;
        line-height: 20px;
    }
    .navbar_main .four {
        font-size: 15px;
    }
    .navbar-collapse {
        background-color: violet;
    }
    .main {
        margin-top: -40px;
    }
    #banner h4 {
        font-size: 20px;
        line-height: 35px;
    }
    .main h1 {
        
        font-size: 30px;
        line-height: 20px;
        width: auto;
        
    }
    #banner .main p {
        font-size: 12px;
        line-height: 15px;
        width: auto;
       
    }
    #banner .main a {
        width: 100px;
        height: 40px;
        margin-top: 10px;
        padding-top: 9px;
    }
    #banner .icon_part ul {
        margin-top: 40px;
        gap: 10px;
        height: 20px;
       
    }
    #about_part .main_part h1 {
            font-size: 26px;
            line-height: 32px;
            width: 100%;
        }
        
    
    #about_part .main_part h1::after {
        width: 40px;
        top: 58px;
        left: 260px;
    }

    img.image {
        width: 100%;
    }
    #about_part .image_1::after {
        
        width: 70px;
        border: 5px solid #FF4655;
    }
    #about_part .image_1::before {
        height: 60px;
        border: 5px solid #FF4655;
    }
    #about_part .about_part1 {
        margin-left: 8px;
    }
    #about_part .about_part1 h4 {
        font-size: 25px;
       
    }
    #about_part .about_text {
        margin-top: -20px;
    }

    #about_part .about_text ul li {
        margin-left: 5px;
    }
    #about_part .about_text ul {
        font-size: 12px;
        line-height: 8px;
    }
    .about_part1 p {
        font-size: 12px;
        line-height: 16px;
        
    }
    .about_part1 a {
        margin-top: 20px;
    }
    .counter_1 {
        margin-top: -50px;
    }
    .counter_part .counter_1 {
        width: 300px;
        height: 140px;
    }

    #about_part .counter_part {
        display: block;
        
    }
    .counter_part .counter_2 {
        width: 300px;
        height: 140px;
    
    }

    .counter_part .counter_3 {
        width: 300px;
        height: 140px;
    
    }

    .counter_part .counter_4 {
        width: 300px;
        height: 140px;
    
    }

    #popular .popular_part img {
        margin-top: -40px;
    }




    #popular .text h2 {
          font-size: 28px;
        line-height: 35px;
        margin-left: 0px;
        text-align: left;
        margin-top: 500px;
        padding-top: -0;
    }

    #tornament .text h2 {
        font-size: 20px;
        padding-top: 0px;
        margin-top: 300px;
    }
    #tornament {
       
        margin-top: -350px;
    }

    img.one {
        width: 100%;
    }
    img.two {
        width: 100%;
    }


    img.three {
        width: 100%;
    }


}